################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Leauge Auto Accept/obj
/Leauge Auto Accept/bin/Debug/net7.0
